.jumbotron{
	width: 1200px;
	margin-left:5%;
	margin-top: 2%;
}

.header{
	padding: 18px;
	margin-left: 5px;
	margin-right:15px;
	
}
.info{
	float:right;
	margin-top:-15%;
	margin-left:0px;
	margin-right: 15px;
	font-size: 10px;
	
}
.info p{
	font-size:15px;
}
.object h3{
	font-size:20px;
}
.object p{
	font-size:15px;
}
.education-info h3{
	font-size:20px;
}
.education-info p{
	font-size:15px;
}
.Language-Skills h3{
	font-size:20px;
}
.Language-Skills p{
	font-size:15px;
}
.Technical h3{
	font-size:20px;
}
.Technical p{
	font-size:15px;
}
.Personal h3{
	font-size:20px;
}
.Personal p{
	font-size:20px;
}
